<div>
    <div class="form-container">
        <div>
            <h2>{{ 'contact.contact' | translate }}</h2>
            <p>{{ 'contact.contactSubtitle' | translate }}</p>
        </div>
        <div>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <label>{{ 'contact.fname' | translate }}:</label>
                <input type="text" formControlName="firstName" required>

                <label>{{ 'contact.lname' | translate }}:</label>
                <input type="text" formControlName="lastName" required>

                <label>{{ 'contact.phone' | translate }}:</label>
                <input type="text" formControlName="phone" required>

                <label>{{ 'contact.message' | translate }}:</label>
                <!-- <input type="text" formControlName="message" required> -->
                <textarea id="my_textarea" formControlName="message" required></textarea>

                <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">{{ 'contact.send' | translate }}</button>
            </form>
        </div>
    </div>

    <div class="form-container">
        <div class="address">
            <h2>{{ 'contact.address' | translate }}</h2>
            <p>{{ 'contact.addressLbl' | translate }}</p>
            <button class="btn btn-info">{{ 'contact.mapLbl' | translate }}</button>
        </div>
    </div>
</div>