  
.form-container {
    padding: 2em;
    width: 50%;
    float: left;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #my_textarea {
    height:200px;
  }