<div>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
        <a class="navbar-brand" href="#">DentaWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">
                <i class="fa fa-home"></i> {{ 'navbar.home' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/news">
                <i class="fa fa-bars"></i> {{ 'navbar.news' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">
                <i class="fa fa-at"></i> {{ 'navbar.about' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/medics">
                <i class="fa fa-puzzle-piece"></i> {{ 'navbar.medics' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/services">
                <i class="fa fa-cogs"></i> {{ 'navbar.services' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact">
                <i class="fa fa-address-card"></i> {{ 'navbar.contact' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
              <button id="button-basic" dropdownToggle type="button" 
                 class="btn dropdown-toggle"
                 aria-controls="dropdown-basic">
                 <i class="fas fa-globe-europe"></i>
                 {{ 'navbar.language' | translate }} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                 role="menu" aria-labelledby="button-basic">
                 <li role="menuitem" (click)="useLanguage('ro')"><a class="dropdown-item" >Ro</a></li>
                 <li role="menuitem" (click)="useLanguage('en')"><a class="dropdown-item" >En</a></li>
                 <li role="menuitem" (click)="useLanguage('ru')"><a class="dropdown-item" >Ru</a></li>
              </ul>
           </div>
           <div *ngIf = "!getLogin()">
            <li class="nav-item active">
              <a class="nav-link" href="/login">
                <i class="fa fa-sign-in-alt"></i> {{ 'navbar.login' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
           </div>
           <div *ngIf = "getLogin()">
            <li class="nav-item active">
              <a class="nav-link" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i> {{ 'navbar.logout' | translate }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
           </div>
          </ul>
        </div>
      </nav>
</div>
