.title {
    text-align: center;
}
.form-container{
    width: 50%;
    margin: 0 auto;
}

.input {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }

  .fileButton {
      margin-left: 20px;
  }