<div class="title">
    <h2>Servicii</h2>
</div>
<div class="line">
    <div class="content">
        <div class = "img-container">
            <img src="assets/img/chirurgie.jpg">
        </div>
        <div class="description">
            <h3>Chirurgie dentară</h3>
            <hr/>
            <p>
                Chirurgie dentară: tehnicile moderne de aplicare. Cea mai des întâlnită procedură de chirurgie dentară sunt extracțiile dentare. Dinții afectați care nu mai pot fi salvați trebuie eliminați atât din motive de igienă, funcționalitate sau chiar estetice. Dacă se va întâmpla ca un anumit dinte să nu poată fi salvat și o intervenție chirurgicală de extracție în scop ortodontic este necesară, vom acționa în așa fel încât să reducem la maximum durerile și să evităm traumatismul.
            </p>
        </div>
    </div>
</div>

<div class="line">
    <div class="content">
        <div class = "img-container">
            <img src="assets/img/augmentare.jpg">
        </div>
        <div class="description">
            <h3>Augmentare osoasă</h3>
            <hr/>
            <p>
                Augmentarea osoasă, denumită și grefare sau adiție osoasă este o procedură stomatologică frecvent întâlnită în orice cabinet stomatologic din Cluj, întreprinsă în urma unor cauze de natură traumatică, boli paradontale sau extracții dentare care nu au avut ulterior înlocuitor asupra cavității bucale. Aceasta este necesară în cazul introducerii implanturilor dentare. În urma atrofierii oaselor maxilarului printr-o micșorare semnificativă a volumului acestora, pacientul nu mai are o bază solidă pentru a permite introducerea implanturilor.
            </p>
        </div>
    </div>
</div>

<div class="line">
    <div class="content">
        <div class = "img-container">
            <img src="assets/img/endodontie.jpg">
        </div>
        <div class="description">
            <h3>Endodonție</h3>
            <hr/>
            <p>
                Tratamentul de endodonție pentru eliminarea unei infecții dentare. Tratamentul de endodonție sau tratamentul de canal este operația efectuată pentru îndepărtarea unei infecții localizate la nivelul rădăcinii dintelui și al camerei pulpare. Formată dintr-o echipă de specialiști, tineri și devotați, Alverna Dental Studio, clinică dentară din Cluj-Napoca pune accent pe serviciile oferite fiecărui pacient. Tratamentul de endodonție este unul dintre ele. Ce este acesta?
            </p>
        </div>
    </div>
</div>

<div class="line">
    <div class="content">
        <div class = "img-container">
            <img src="assets/img/estetica-dentara.jpg">
        </div>
        <div class="description">
            <h3>Estetică dentară</h3>
            <hr/>
            <p>
                Tratamente moderne și eficiente de estetică dentară în Cluj-Napoca. Estetica dentară este o formă de expresie a vizualului tot mai căutată în societatea actuală. Totuși, datorită acestui principiu devenit o prioritate, descoperirile științifice au creat o serie de materiale tehnice moderne care oferă premisele unei intervenții medicale nu doar corecte, dar și aspectuoase.
            </p>
        </div>
    </div>
</div>

<div class="line">
    <div class="content">
        <div class = "img-container">
            <img src="assets/img/implantologie.jpg">
        </div>
        <div class="description">
            <h3>Implant dentar</h3>
            <hr/>
            <p>
                Operații de implant dentar în Cluj prin tehnologia modernă. Edentațiile pot fi rezolvate prin intermediul unui implant dentar. Dacă suntem privați de existența unui dinte poate să fie neplăcut din mai multe considerente: estetice, practice – de masticație, psihologice, etc. Cu atât mai mult, în acestă societate în care aspectul fizic reprezintă o forță naturală care, de multe ori, ne aduce unele oportunități pe plan profesional.
            </p>
        </div>
    </div>
</div>

