.line {
    margin-bottom: 10%;
}

.content {
    display: table-cell;
}

.description {
    float:right;
    width: 50%;
    margin-right: 15%;
    display: table-cell;
}

.description p {
    font-size: 20px;
}

.img-container {
    width: 420px;
    height: 230px;
    float:left;
}

.img-container img {
    width: 100%;
    height: auto;
    margin-left: 50%;
}
