<div class="title">
    <h2>Echipa</h2>
</div>

<div class="subtitle">
    <h4 style="color: blue;">Fă cunoștință cu echipa noastră!</h4>
    <h5>Personalul de la DentaWeb este atent, dedicat şi bine pregătit, fiecare membru al echipei fiind specializat pe anumite ramuri ale stomatologiei. Împreună, putem rezolva, în condiţii de calitate superioară şi de eficienţă, orice situație dentară.</h5>
</div>

<div class="medic-list">
    <div class="item">
        <div class="img-container">
            <img src="assets/img/andreea.jpg">
        </div>
        <div class="job-desc">
            <h4>Dr. Andreea Crisan</h4>
            <p>Medic Specialist Ortodonție</p>
        </div>
    </div>
    <div class="item">
        <div class="img-container">
            <img src="assets/img/bogdan.jpg">
        </div>
        <div class="job-desc">
            <h4>Dr. Bogdan Holici</h4>
            <p>Medic dentist Stomatologie Generală</p>
        </div>
    </div>
    <div class="item">
        <div class="img-container">
            <img src="assets/img/parvu.jpg">
        </div>
        <div class="job-desc">
            <h4>Dr. Parvu Andreea</h4>
            <p>Medic dentist Stomatologie generala</p>
        </div>
    </div>
    <div class="item">
        <div class="img-container">
            <img src="assets/img/petra.jpg">
        </div>
        <div class="job-desc">
            <h4>Dr. Petra Vigh-Nicoara</h4>
            <p>Medic dentist Stomatologie generală</p>
                <p>Lider de echipă</p>
        </div>
    </div>
    <div class="item">
        <div class="img-container">
            <img src="assets/img/valentina.jpg">
        </div>
        <div class="job-desc">
            <h4>Dr. Valentina Nichimis</h4>
            <p>Medic dentist Stomatologie generală</p>
        </div>
    </div>
    <div class="item">
        <div class="img-container">
            <img src="assets/img/ruxandra.jpg">
        </div>
        <div class="job-desc">
            <h4>Dr. Ruxandra Darabantiu</h4>
            <p>Medic Specialist Ortodonție și Pedodonție</p>
        </div>
    </div>
</div>