 .subtitle {
    margin-bottom: 5%;
    margin-left: 14%;
    margin-right: 13%;
 }

 .img-container {
    width: 350px;
    height: 526px;
}

.img-container img {
    width: 100%;
    height: auto;
}

.item {
    float:left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.medic-list {
    margin-left: 10%;
    margin-right: 10%;
}
.job-desc {
    background-color: #33b5e5;
    min-height: 125px;
}

.job-desc h4 {
    padding-top: 15px;
}