<div class="logo">
    <div class="img-container">
        <img src="assets/img/logo.png">
    </div>
</div>
<div class="welcome">
    <p style="color: forestgreen;">Bine aţi venit la clinica stomatologică din Cluj DentaWeb!</p>
    <p>Dacă e să vorbim în termeni filozofici, adeseori ne întrebăm de ce facem ceea ce facem, care este motivul pentru
        care muncim din greu și petrecem multe ore în cabinetele noastre de stomatologie din Cluj, de ce ne îndreptăm
        telescoapele către cerul cu numărul lui intimidant de stele, de unde vine nevoia noastră de frumos și pur? De
        unde pasiunea noastră nesfârșită pentru domeniu stomatologic și răbdarea de a petrece majoritatea timpului din
        viața noastră făcând această activitate?

        După o gândire atentă, ajungem la un singur posibil răspuns logic: din nevoia noastră, ca ființe umane, de a
        atinge perfecțiunea sau cel puțin o stare cât mai apropiată de ea, ne dedicăm timpul liber diverselor tratamente
        și proceduri din cabinetele de stomatologie din clinica noastră.

        Transferând toate acestea în meseria noastră, putem spune că la clinica stomatologică din Cluj Alverna Dental
        Studio, perfecțiunea înseamnă surâsul fericit al pacienților care se tratează la noi.

        Faptul că suntem o echipă entuziastă, că avem la dispoziție aparatură de ultimă generație, modernă, folosită
        intens de fiecare medic stomatolog, că utilizăm materiale de cea mai bună calitate și că apelăm la metode de
        lucru avangardiste sunt garanția că în fiecare zi ne propunem să atingem acea stare de perfecțiune, pentru a ne
        omagia meseria pentru care am fost pregătiți ca și medici stomatologi. </p>
</div>
<div class="welcome">
    <p style="color: forestgreen;">Pasiunea noastră este să livrăm calitate!</p>
    <p>Clinica noastră stomatologică are la dispoziție propriul laborator în Cluj destinat procedurilor și tratamentelor
        dentare. Acest fapt nu doar că ne oferă avantajul competitiv de a livra servicii de stomatologie în Cluj la cea
        mai bună calitate, dar ne ajută, totodată, să o facem într-un timp cât mai scurt și la un preț cât mai realist.

        Pe lângă tratamentul stomatologic, un aspect foarte important pentru medicii din clinica noastră este felul în
        care pacientul este primit, modul în care decurge timpul de așteptare, dar și reducerea la minimum a acestuia.
        Întreaga noastră activitate a fost concepută în așa fel încât să asigurăm confort şi calitate, cu o durată
        rezonabilă şi la un efort financiar acceptabil. </p>
</div>

<div class="contact">
    <h2 style="color: forestgreen;">Contact</h2>
    <div>
        <i class="fa fa-home"></i> Str. Alverna 33, 400469, Cluj-Napoca, Romania
    </div>
    <div>
        <i class="fas fa-phone-alt"></i> Telefon: +40 748 085 933 / +40 728 085 933
    </div>
    <div>
        <i class="fa fa-home"></i> Str. Viilor nr. 52B, et.1, Cluj-Napoca, Romania
    </div>
    <div>
        <i class="fas fa-phone-alt"></i> Telefon: +40 770 265 223
    </div>
    <div>
        <i class="far fa-envelope"></i> contact@alvernadental.com
    </div>
    <div>
        <i class="fab fa-facebook"></i> Facebook
    </div>
    
</div>