.logo {
    margin-right: 40%;
    margin-left: 40%;
}

.img-container {
    width: 407px;
    height: 410px;
}

.img-container img {
    width: 100%;
    height: auto;
}

.welcome {
    margin-right: 10%;
    margin-left: 10%;
}

.contact {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:  #d4f1dd;
}

.contact div, h2{
    padding: 5px;
}