<div>
    <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
        <mdb-carousel-item>
            <div class="img-container">
                <img class="d-block w-100" src="assets/img/iStock-512278456.jpg" alt="First slide">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="img-container">
                <img class="d-block w-100" src="assets/img/cabinet-verde-fata.jpg" alt="First slide">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="img-container">
                <img class="d-block w-100" src="assets/img/cabinet-stomatologic-dentist-sector-3-2.jpg" alt="First slide">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="img-container">
                <img class="d-block w-100" src="assets/img/Cabinet-Stomatologic-Radauti-DentalNicolaica-2.jpg" alt="Second slide">
            </div>
        </mdb-carousel-item>
      </mdb-carousel>
</div>

