<div class="title">
    <h2>Noutati</h2>
</div>
<div class="subtitle">
    <p>Fii la curent cu noutățile din domeniul stomatologic pe pagina noastră de blog. Aici vă veți putea afla
        tendințele stomatologice și propria noastră viziune asupra lor. Mai mult, vă vom aduce în atenție o serie de
        detalii privitoare la echipamentele și activitățile noastre din cabinetele stomatologice, cât și din laborator.
        Vom veni cu informații referitoare la stomatologie și la comportamentul adecvat pe care trebuie să îl abordăm.
        Prin blog veți reuși să ne cunoașteți mai bine.</p>
    <hr>
</div>

<div class="content">
    <!-- dynamic data source -->
    <div *ngFor="let news of newsContent">
        <div class="img-container">
            <img src={{news.imageSrc}}>
        </div>
        <div class="description">
            <h3>{{news.title}}</h3>
            <hr />
            <p>
                {{news.text}}
            </p>
            <button class="btn btn-primary">Read more</button>
        </div>
    </div>
    <!-- end of dynamic data source -->

    <div class="img-container">
        <img src="assets/img/noutati.jpg">
    </div>
    <div class="description">
        <h3>Diferența dintre obturația coronară și Inlay/ Onlay</h3>
        <hr />
        <p>
            Diferența dintre obturația coronară și Inlay/ Onlay Cariile sunt cele mai răspândite probleme dentare. De
            aceea, restaurările dentare sunt cele mai dese proceduri stomatologice realizate de către medici. În ultimii
            ani, au apărut o mulțime de variante pentru a trata cariile dentare, unele dintre ele menite să crească
            durabilitatea lucrărilor. Pe lângă obturațiile coronare sau […]
        </p>
        <button class="btn btn-primary">Read more</button>
    </div>

    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/97wGRcShzu8" allowfullscreen></iframe>
    </div>
    <div class="description">
        <h3>FAST AND FIXED – un nou sistem de implant</h3>
        <hr />
        <p>
            FAST AND FIXED – un nou sistem de implant. Pleci cu dantura fixă din cabinet! sau Știai că poți avea dantură
            fixă într-o singură zi? Descoperă sistemul FAST & FIXED! Fast and fixed este un sistem implanto-protetic
            utilizat pentru refacerea rapidă a danturii în cazul pacienților edentati, adică a celor care și-au pierdut
            toți […]
        </p>
        <button class="btn btn-primary">Read more</button>
    </div>
</div>