.subtitle {
    margin-left: 23%;
    margin-right: 26%;
    margin-bottom: 3%;
}

.img-container {
    width: 80%;
    height: 80%;
}

.img-container img {
    width: 100%;
    height: auto;
    padding-left: 20%;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

.description {
    font-size: 20px;
    padding-left: 16%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 20%;
}

.img-container {
    width: 80%;
    height: 80%;
}

.embed-responsive {
    width: 64%;
    margin-left: 16%;
}
