<div>
    <div class="title">
        <h2>Statistici</h2>
    </div>
    <label style="margin-left:10px ;">Selectati luna pentru generarea de statistici</label>
    <div class="dropdown" mdbDropdown>
        <button mdbDropdownToggle mdbBtn color="#33b5e5" class="dropdown-toggle waves-light" type="button"
            mdbWavesEffect>
            Selectati luna
        </button>

        <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Ianuarie</a>
            <a class="dropdown-item" href="#">Februarie</a>
            <a class="dropdown-item" href="#">Martie</a>
            <a class="dropdown-item" href="#">Aprilie</a>
            <a class="dropdown-item" href="#">Mai</a>
            <a class="dropdown-item" href="#">Iunie</a>
            <a class="dropdown-item" href="#">Iulie</a>
            <a class="dropdown-item" href="#">August</a>
            <a class="dropdown-item" href="#">Septembrie</a>
            <a class="dropdown-item" href="#">Octombrie</a>
            <a class="dropdown-item" href="#">Noiembrie</a>
            <a class="dropdown-item" href="#">Decembrie</a>
        </div>
    </div>

</div>