<div class="app">
  <header class="header">
    <app-navbar></app-navbar>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
      <p class="text-muted">@2021 DentaWeb | wwww.dentaWeb.com | www.facebook/dentaWeb.com</p>
  </footer>
</div>