.header {
    flex: 0;
}

.content {
    background-color: aliceblue;
    flex: 1 1 auto;

  }

.footer {
    width: 100%;
    background-color:#33b5e5;
    font-size: 10px;
    flex: 0 1 30px;
}

.text-muted {
    color: black !important;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 0px !important;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}